# Local .terraform directories
.terraform*
#.tf state files
*.tfstate.*
terraform.tfstate

# use other *.tfvars files for parametrization of config-modules
terraform.tfvars

# VS Code Workspace file to ignote"
*.code-workspace